/*styles go here*/

p {
	color: #666666;
  font-family: 'Raleway', Helvetica, sans-serif;

}


h1 {
		font-family: 'Rokkitt', Georgia, serif;
		font-size: 3em;
		margin: auto 0 0 0;
		display: block;
		background-color: #EBD172;
}

h2 {
		font-family: 'Rokkitt', Georgia, serif;
		font-size: 2em;
		margin: 0 0 auto 0;
		display: block;
		background-color: #EBD172;
}

h3 {
	color: #666666;
	font-family: 'Raleway: 800', Helvetica, sans-serif;
}

.header {
	background-color: #EBD172;
}

.navigation {
	background-color: #7393FF;
	color: #fff;
}

#container {
	margin: 0 auto;
	width: 95%;
	text-align: center;
}

#nav {
    padding: 0;
	  list-style-type: none;
}

#nav li {
		margin: 0;
		padding: 0;
		border-bottom: 1px solid #ccc;
}

#nav a:link, #nav a:visited {
	display: block;
	color: #fff;
	background-color: #98bd21;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding: 4px;
	font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, #nav a:active {
	background-color: #7a991a;

}


.caption {
	font-size: 0.8em;
	margin-top: 0;
}

#footer {
	color: black;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 0.8em;
	border-top: 1px solid black;
	display: block;
	background-color: #EBD172;
	padding: 5px;
}

.italic {
	font-family: 'Raleway', Helvetica, sans-serif;
	font-style: italic;
}

#headshot {
	margin-bottom: 0;
}

.list {
	list-style-type: none;
	font-family: 'Raleway', Helvetica, sans-serif;
	padding: 0;
	}

.list li {
	margin: 0;
	padding: 0;
	}

.list a:link, .list a:visited {
	color: #7393FF;
	font-weight: bold;
	text-decoration: none;
	padding: 4px;
	}

.list a:hover, .list a:active {
	color: #EBD172
	}

.linkstyle a:link, .linkstyle a:visited {
	color: #7393FF;
	font-weight: bold;
	text-decoration: none;
	padding: 4px;
		}

.linkstyle a:hover, .linkstyle a:active {
	color: #EBD172;
		}

img {
	border: none;
		}
{}
