/*styles go here*/

p {
	color: #263F5B;
  font-family: 'Raleway', Helvetica, sans-serif;
}

h1 {
		font-family: 'Cormorant Garamond', Georgia, serif;
		font-size: 2em;
		margin: auto;
		display: block;
		color: #fff;
		padding: 4px;
		font-weight: lighter;
}

h2 {
		font-family: 'Cormorant Garamond', Georgia, serif;
		font-size: 3em;
		margin-bottom: 0;
}

h3 {
	color: #936C47;
	font-family: 'Cormorant Garamond', Georgia, serif;
	margin-top: 0;
	font-size: 1.5em;
	font-weight: bolder;
}

h4 {
	color: #fff;
	font-family: 'Raleway', Helvetica, sans-serif;
	font-weight: lighter;
	font-size: 1em;
}

.header {
	background-color: #263F5B;
}

.navigation {
	background-color: #fff;
	color: #263F5B;
	font-family: 'Raleway', Helvetica, sans-serif;
	padding: 4px;
}

.navigation a:hover, .navigation a:active {
	text-decoration: none;
	color: #263F5B;
	font-weight: bold;
}

.navigation a:link, .navigation a:visited {
		color: #263F5B;
		text-decoration: none;
		}

#container {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

#homeblock1 {
	background-color: #263F5B;
	margin-bottom: 0;
}

#homeblock2 {
	background-color: #CFDBE9;
	margin-top: 0;
}

.caption {
	font-size: 0.8em;
	margin-left: 7%;
	text-align: left;
}

.footer {
	color: #936C47;
	font-size: 0.8em;
	border: 3px solid #936C47;
	display: block;
	background-color: #263F5B;
	padding: 10px;
}

.italic {
	font-family: 'Raleway', Helvetica, sans-serif;
	font-style: italic;
}

img {
	border: none;
		}

#hometext1 {
	color: #263F5B;
	background-color: #fff;
	display: block;
	padding: 50px;
}

.homestorytext {
	display: block;
	background-color: #263F5B;
	padding: 20px;
}

{}
